<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FicaFacil</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="{% static 'imgs/logos/logosm.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-[url('{% static "imgs/background.png" %}')] bg-top bg-no-repeat bg-cover bg-origin-padding p-10 flex flex-col justify-center"> <!--Concatenação de django e tailwind, tá errado mas deu certo-->
    <header class="bg-gradient-to-b from-sky-800 backdrop-blur-sm border-sky-500 border rounded-3xl flex justify-between items-center px-8 py-4 ">
        <img src="{% static 'imgs/logos/logo.png' %}" alt="Logomarca ficafacil">

        <div class="flex justify-around items-center gap-6 text-white">
            <a href="" class="hover:text-sky-300 transition-colors">Contacts</a>
            <a href="" class="hover:text-sky-300 transition-colors">About</a>
            <a href="" class="hover:text-sky-300 transition-colors">Login</a>
        </div>
    </header>

    <main class="flex flex-col justify-end mt-36 gap-36">
        {% block main %}

        {%endblock%}
    </main>
</body>
</html>