{% extends 'base.html' %}
{%load static%}

{%block header%}
    <header class="bg-gradient-to-b from-sky-950 backdrop-blur-sm border-sky-500 border rounded-3xl flex justify-between items-center px-8 py-4 ">
        <img src="{% static 'imgs/logos/logo.png' %}" alt="Logomarca ficafacil">

        <div class="flex justify-around items-center gap-6 text-white">
           <a href="" class="hover:text-sky-300 transition-colors">Contacts</a>
           <a href="" class="hover:text-sky-300 transition-colors">About</a>
           <a href="" class="hover:text-sky-300 transition-colors">Login</a>
        </div>
    </header>
{%endblock%}

{% block main %}
<main class="flex flex-col mt-36 gap-36">


    <div class="text-white text-6xl font-poppins">
        <h1>Seu jeito fácil <br>
            de fazer o difícil:<br>
            assim, <span class="font-bold">ficafácil.</span>
        </h1>
    </div>

    <div>
        <a class="bg-sky-500 text-white rounded-2xl backdrop-blur-lg p-4 px-16 shadow-lg shadow-sky-500/50 hover:bg-cyan-500 transition-colors cursor-pointer" href="{% url 'signup'%}">Junte-se a nós</a>
    </div>
    
    

    

</main>
{%endblock%}