{% extends 'tasks/base.html' %}

{%block title%} Home {%endblock%}

{%block main%} 
    <div>
        <form>
            <div>
                <label for="">Título:</label>
                {{form.titulo}}
            </div>
            <div>
                <label for="">Descrição:</label>
                {{form.descricao}}
            </div>
            <div>
                <label for="">Status:</label>
                {{form.status}}
            </div>
            <div>
                <label for="">Setor:</label>
                {{form.setor}}
            </div>
            <div>
                <label for="">Usuário:</label>
                {{form.usuario}}
            </div>
        </form>
    </div>
{%endblock%}

    titulo=models.CharField(max_length=500, blank=False, null=False)
    descricao=models.TextField(blank=False, null=False)
    status=models.CharField(max_length=20,choices=STATUS_CHOICES,blank=False, null=False)
    setor=models.ForeignKey(Setor, on_delete=models.CASCADE, blank=False, null=False)
    usuario=models.ForeignKey(User, on_delete=models.CASCADE, blank=False, null=False)
    data_criacao=models.DateTimeField(auto_now_add=True)
    is_done=models.BooleanField(default=False ,null=False, blank=False)