<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
            Título
        {%endblock%}
    </title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script><!--Tailwind-->
    <link rel="icon" href="{% static 'imgs/logos/logosm.png' %}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-neutral-800 text-white flex">
    <div class="flex flex-col bg-neutral-900 min-h-screen w-1/5 p-4 gap-8 overflow-y-auto flex-shrink-0">
        <div class="flex gap-4 items-center justify-between">
            <div class="flex gap-2 items-center">
                <a href="{% url 'profile' %}">
                    <img src="Media/{{profile.pfp}}" alt="foto de {{user.username}}" class="rounded-full w-8 h-8">
                </a>
                <p>Olá, <span class="text-sky-300 font-bold"> {{user.username}}</span></p> <!--ALERTA DE MOCKUP-->
            </div>
            <div>
                <a href="{% url 'logout' %}" class="cursor-pointer"><i class="material-icons bg-neutral-700 text-red-400 p-1 rounded hover:bg-neutral-800 transition-colors">logout</i></a>
            </div>
        </div>
        
        <div class="flex flex-col gap-4">
            <div class="flex flex-wrap gap-2">
                <i class="material-icons">business</i>
                <p class="text-neutral-500 font-bold">{{profile.empresa}}</p> <!--ALERTA DE MOCKUP-->
            </div>
            <div class="flex flex-wrap gap-2">
                <i class="material-icons">groups</i>
                <p class="text-neutral-500 font-bold">{{profile.setor}}</p><!--ALERTA DE MOCKUP-->
            </div>
        </div>
    
        <div class="flex flex-col gap-4"> <!--LINKS DO MENU-->
            <a href="{% url 'home' %}" class="">
                <div class="flex flex-wrap gap-2 p-2 bg-neutral-700 rounded-md hover:bg-neutral-800 transition-colors">
                    <i class="material-icons">home</i>
                    <p>Home</p>
                </div>
            </a>
    
            <a href="{% url 'done_tasks' %}">
                <div class="flex flex-wrap gap-2 p-2 bg-neutral-700 rounded-md hover:bg-neutral-800 transition-colors">
                    <i class="material-icons">check</i>
                    <p>Concluídas</p>
                </div>
            </a>
    
            <a href="">
                <div class="flex flex-wrap gap-2 p-2 bg-neutral-700 rounded-md hover:bg-neutral-800 transition-colors">
                    <i class="material-icons">leaderboard</i>
                    <p>Desempenhos</p>
                </div>
            </a>
        </div>
    
        {% if not profile %}
        <a href="{% url 'complete_profile' %}">
            <div class="flex bg-amber-200 p-4 rounded-md items-center justify-center gap-1 hover:bg-amber-300 transition-colors">
                <i class="material-icons text-red-500">warning</i>
                <p class="text-neutral-900 text-wrap">Complete seu perfil!</p>
            </div>
        </a>
        {% endif %}
    
        <a href="{% url 'create_task' %}"> <!--Botão para redirecionar para a criação de tarefas-->
            <div class="flex justify-center items-center gap-2 bg-sky-500 mt-auto text-white rounded-2xl backdrop-blur-lg p-4 shadow-lg shadow-sky-500/0 hover:bg-cyan-500 transition-colors cursor-pointer">
                <i class="material-icons">add</i>
                <p>Criar nova tarefa</p>
            </div>
        </a>
        
    </div>

    <main class="flex flex-grow p-4 gap-2 flex-wrap content-start">
        {%block main%}

        {%endblock%}
    </main>
</body>